-Person holds users 
	it can have 0...n friends
	it has one location
-Location holds locations
	it has 0...n sensors
-Sensor holds the sensors for all users
	It has one location and one tag
	It can have 0...n Measurements, aswell as 0...n aggregated Measurements
-Tag holds tags
	It can be bound to 0...n sensors
-Message holds all messages
	A message has to have 1 sender and 1 receiver
-Measurement holds all measurements
	-A measurement has to have 1 sensor
-Hour, day and monthaverages hold the aggregated averages of the measurements
	-Each measurement has to have one sensor