body {
	padding-top: 50px;
}

#navbar-logo {
	opacity: 0.7;
}

	.navbar-brand:hover #navbar-logo {
		opacity: 1;
	}

.bubble {
    position: relative;
    padding: 10px;
    background: #E0E0FF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

	.bubble:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 10px 10px 10px 0;
		border-color: transparent #CFCFFF;
		display: block;
		width: 0;
		z-index: 1;
		left: -9px;
		top: 10px;
	}

.message-header{
	padding-left: 6px;
}

span.tag {
	color: #881166;
	font-size:12px;
	background-color:#FFBBDD;

	padding:2px;
	padding-left:5px;
	padding-right:5px;

	border-radius:4px;
	margin:2px;
	line-height:18px;
	cursor:pointer;
}

	span.tag:hover {
		color: #FFF8FF;
		background-color:#DD88AA;
		padding:6px;
		margin:1px;
	}

	span.tag a:hover{
		text-decoration:none;
	}

	.tag .glyphicon{
		font-size:10px;
		color: #DD88CC;
		margin-left: 1px;
		margin-right:-3px;
	}

		.tag:hover .glyphicon{
			color: #FFAABB;
		}

		.tag .glyphicon:hover{
			color: #660044;
		}

a.add-tag{
	color:#DD88BB;
}

	a.add-tag:hover{
		color:#AA4488;
		text-decoration:none;
	}

span.no-tags{
	color: #DDCCCC;
}

.navbar-nav>li>a.debug-page{
	color:#FF6688;
}

.dropdown-menu>li>a.debug-page{
	color: #AA1144;
}

	.dropdown-menu>li>a.debug-page:hover{
		background-color:#FFDDDD;
	}

.dropdown-menu>li>a.main-page{
	color: #1172D6;
}

	.dropdown-menu>li>a.main-page:hover{
		background-color:#DDDDFF;
	}


.profile-avatar-small {
	width: 64px;
	height: 64px;
	background-image: url("profilepicsmall.png");
    background-size: 64px 64px;
	float: left;
}

.profile-avatar-small-centered {
	width: 64px;
	height: 64px;
	background-image: url("profilepicsmall.png");
    background-size: 64px 64px;
	margin: 0 auto;
	float: none;
}

.profile-avatar {
	width: 150px;
	height: 150px;
	background-image:url("profilepicsmall.png");
    background-size: 150px 150px;
	float: left;
	margin-right:32px;
}

.sensor-desciption {
	color: #AAAAAA;
}

/* For list items that can be clicked. */
.clickable-item {
	border-radius: 4px;
	position: relative;
    display: block;
    padding: 10px 15px;
	color: #337ab7;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

	.clickable-item:hover {
	    text-decoration: none;
	    background-color: #eee;
	}
