body {
	padding-top: 50px;
}

#navbar-logo {
	opacity: 0.7;
}

	.navbar-brand:hover #navbar-logo {
		opacity: 1;
	}

.bubble {
    position: relative;
    padding: 10px;
    background: #E0E0FF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

	.bubble:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 10px 10px 10px 0;
		border-color: transparent #CFCFFF;
		display: block;
		width: 0;
		z-index: 1;
		left: -9px;
		top: 10px;
	}

.message-header{
	padding-left: 6px;
}

.tag {
	color: #881166;
	font-size:12px;
	background-color:#FFBBDD;

	padding:2px;
	padding-left:5px;

	border-radius:4px;
	margin:2px;
	line-height:22px;
	cursor:pointer;
}
	.tag:last-child{
		padding-right:5px;
	}

	.tag:hover {
		color: #FFF8FF;
		background-color:#DD88AA;
		padding:6px;
		padding-right:3px;
		margin:1px;
	}
	
		.tag:last-child:hover{
			padding-right:6px;
		}

	.tag a:hover{
		text-decoration:none;
	}
	
	.tag.active{
		border: 1px solid #4466EE;
		color: FFF;
		padding: 2px;
		padding-left: 3px;
		padding-right: 1px;
		margin: 1px;
		margin-left: 3px;
		margin-right: 2px;
		background-color: #88AAFF;
	}

	.tag .glyphicon{
		font-size:10px;
		color: #DD88CC;
		margin-left: 1px;
		margin-right:-3px;
	}

		.tag:hover .glyphicon{
			color: #FFAABB;
		}

		.tag .glyphicon:hover{
			color: #660044;
		}

a.add-tag{
	color:#DD88BB;
}

	a.add-tag:hover{
		color:#AA4488;
		text-decoration:none;
	}

span.no-tags{
	color: #DDCCCC;
}

.navbar-nav>li>a.debug-page{
	color:#FF6688;
}

.dropdown-menu>li>a.debug-page{
	color: #AA1144;
}

	.dropdown-menu>li>a.debug-page:hover{
		background-color:#FFDDDD;
	}

.dropdown-menu>li>a.main-page{
	color: #1172D6;
}

	.dropdown-menu>li>a.main-page:hover{
		background-color:#DDDDFF;
	}


.profile-avatar-small {
	width: 64px;
	height: 64px;
    background-size: contain;
	float: left;
}

.profile-avatar {
    width: 225px;
    height: 225px;
    background-size: contain;
	float: left;
}

	.profile-avatar-small.avatar-0, .profile-avatar.avatar-0{
		background-image: url("profilepic0.png");
	}

	.profile-avatar-small.avatar-1, .profile-avatar.avatar-1{
		background-image: url("profilepic1.png");
	}

	.profile-avatar-small.avatar-2, .profile-avatar.avatar-2{
		background-image: url("profilepic2.png");
	}

	.profile-avatar-small.avatar-3, .profile-avatar.avatar-3{
		background-image: url("profilepic3.png");
	}

	.profile-avatar-small.avatar-4, .profile-avatar.avatar-4{
		background-image: url("profilepic4.png");
	}

	.profile-avatar-small.avatar-5, .profile-avatar.avatar-5{
		background-image: url("profilepic5.png");
	}

	.profile-avatar-small.avatar-6, .profile-avatar.avatar-6{
		background-image: url("profilepic6.png");
	}

	.profile-avatar-small.avatar-7, .profile-avatar.avatar-7{
		background-image: url("profilepic7.png");
	}

.profile-avatar-small-centered {
	width: 64px;
	height: 64px;
	background-image: url("profilepicsmall.png");
    background-size: 64px 64px;
	margin: 0 auto;
	float: none;
}

.sensor-desciption {
	color: #AABBCC;
}
	li.active .sensor-desciption{
		color: #CCDDEE;
	}


/* For list items that can be clicked. */
.clickable-item {
	border-radius: 4px;
	position: relative;
    display: block;
    padding: 10px 15px;
	color: #337ab7;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

	.clickable-item:hover {
	    text-decoration: none;
	    background-color: #eee;
	}
	
	li.active .clickable-item{
		color: #fff;
		background-color: #337ab7;
	}
	
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
	
.tooltip-questionmark{
	font-size:11px;
	color:#4488CC;
	border-bottom: 1px dotted #4488CC;
}
		
	.tooltip-questionmark:hover{
		text-decoration:none;
		border-bottom: 1px solid #4488CC;
	}

.unimportant-info{
	font-size:13px;
	color:#667788;
}

.subtitle-text{
	font-size:15px;
	color:#334455;
}

.faux-button-padding{	
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

a#notificationCountElement{
	background-color:#FF3366;
	color:#FFEEEE;
	font-size:16px;
	font-weight:bold;
}

a#notificationCountElement:hover{
	background-color:#FF2255;
	color:#FFF;
}




