body {
	padding-top: 50px;
}

#navbar-logo {
	opacity: 0.7;
}

.navbar-brand:hover #navbar-logo {
	opacity: 1;
}

.bubble {
    position: relative;
    padding: 10px;
    background: #E0E0FF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #CFCFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -9px;
    top: 10px;
}

.message-header{
	padding-left: 6px;
}

.nav .debug-pages .dropdown-toggle, .nav .debug-pages .dropdown-toggle:focus{
	color: #CC4466;
}

.nav .debug-pages .dropdown-toggle:hover, .nav .debug-pages.open .dropdown-toggle, .nav .debug-pages.open .dropdown-toggle:hover,  .nav .debug-pages.open .dropdown-toggle:focus{
	color: #FF88AA;
}

.nav .debug-pages ul li a{
	color: #AA1144;
}

div.profile-avatar-small {
	width: 64px;
	height: 64px;
	background-image: url("profilepicsmall.png");
    background-size: 64px 64px;
	float: left;
}

div.profile-avatar {
	width: 150px;
	height: 150px;
	background-image:url("profilepicsmall.png");
    background-size: 150px 150px;
	float: left;
	margin-right:32px;
}