body {
	padding-top: 50px;
}

#navbar-logo {
	opacity: 0.7;
}

.navbar-brand:hover #navbar-logo {
	opacity: 1;
}

.bubble {
    position: relative;
    padding: 10px;
    background: #E0E0FF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #CFCFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -9px;
    top: 10px;
}

.message-header{
	padding-left: 6px;
}

.nav li a.debug-page-link{
	color: #CC4466;
}

img.missing-avatar {
	background-image:("content/profilepicsmall.png");
}