@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Person>>
@*                           ^^^^^^^^^^^^^^^^^^^    *@
@*                         This is the @Model type  *@

<h1>Test view</h1>

@if (@Html.RenderContext.Context.CurrentUser.IsAuthenticated())
{
    <h2>Logged in as @Html.RenderContext.Context.CurrentUser.UserName.</h2>
}


<table class="table">
  <td><a href="/person"> Person</a>		</td>    
  <td><a href="/location"> Location</a>	</td>    
  <td><a href="/message"> Message</a>	</td>    
  <td><a href="/sensor"> Sensor</a>		</td>    
  <td><a href="/measurement"> Measurement</a>		</td>    
  <td><a href="/mydata"> Dashboard</a>       </td>    
</table>      