@using System.Collections.Generic
@using System.Globalization
@using Nancy.Security
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@using SmartHomeWeb
@inherits NancyRazorViewBase<IEnumerable<Person>>

<style type="text/css">
	body {
		background:
		    linear-gradient(
		                    rgba(0, 0, 0, 0.7),
		                    rgba(0, 0, 0, 0.7)
            ),
		    url(http://templateocean.com/premium/template/kane/files/images/bg-1.jpg) no-repeat center top fixed;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.centered {
		color: #eeeeee;
		text-align: center;
	}

	h1 {
		font-size: 60px;
	}
</style>

<div class="centered">
	<h1><br/>@TextResources.WelcomeTitle</h1>
	<div style="width: 800px; margin: auto;">
		<br/>
		<h2>@TextResources.WelcomeBody</h2>
		<br/>
		<br/>
		<a href="/add-person" role="button" class="btn btn-primary btn-lg">@TextResources.WelcomeCreateAccountButton</a>
	</div>
</div>

