@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Location>>
@*                           ^^^^^^^^^^^^^^^^^^^    *@
@*                         This is the @Model type  *@

<h1>Locations</h1>

<table class="table">

        <tr class="tableHeader">
            <th>Name</th>
        </tr>
		
    @foreach (var p in @Model)
    {
        <tr>
            <td>@p.Data.Name</td>
        </tr>
    }
</table>
