<div>
	<h2>Log in</h2>

    <form role="form" method="post" action="">
	    <div class="form-group">
		    <label for="user-input">Username:</label>
		    <input id="user-input" type="text" name="username" class="form-control"/>

		    <label for="password-input">Password:</label>
		    <input id="password-input" type="password" name="password" class="form-control"/>
	    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>