@using System.Collections.Generic
@using System.Linq
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@using SmartHomeWeb
@inherits NancyRazorViewBase<IEnumerable<NewsfeedPost>>

<h2>@TextResources.NewsfeedPageTitle</h2>

@if (!Model.Any())
{
    <p>@TextResources.NewsfeedNoMessages</p>
}

<ul class="media-list">
@for(int x = Model.Count()-1; x >= 0; x--)
{
    @{ 
        NewsfeedPost post = Model.ElementAt(x);
    }
    <li class="media">
      <div class="media-left">
        <a href="/person/@post.Sender.Data.UserName">
	        <div class="profile-avatar-small avatar-@(Math.Abs(post.Sender.Guid.GetHashCode() % 8))"></div>
        </a>
      </div>
      <div class="media-body">
	      <h4 class="media-heading message-header">
		      @string.Format(TextResources.MessageHeader, post.Sender.Data.Name)
	      </h4>
	      <div class="bubble">
		      @post.Message
	      </div>
      </div>
    </li>
}
</ul>
