@using System.Collections.Generic
@using System.Linq
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@using SmartHomeWeb
@inherits NancyRazorViewBase<IEnumerable<NewsfeedPost>>

<h2>@TextResources.NewsfeedPageTitle</h2>

@if (!Model.Any())
{
    <p>@TextResources.NewsfeedNoMessages</p>
}

<ul class="media-list">
@foreach (var m in Model)
{
    <li class="media">
      <div class="media-left">
        <a href="/person/@m.UserName">
	        <div class="profile-avatar-small"></div>
        </a>
      </div>
      <div class="media-body">
	      <h4 class="media-heading message-header">
		      @string.Format(TextResources.MessageHeader, m.UserName)
	      </h4>
	      <div class="bubble">
		      @m.Message
	      </div>
      </div>
    </li>
}
</ul>
